<div id="product-variants" class="columns seven alpha">
	<h6 class="product-section-title"><%= Spree.t(:variants) %></h6>
	<ul>
		<% @product.variants_and_option_values(current_currency).each_with_index do |variant, index| %>
			<li>

				<%= number_field_tag "variants[#{variant.id}]", 0, :class => 'multi_add_number_input', :min => 0%>
				<%= label_tag "variant_id" do %>
					<span class="variant-description">
						<%= variant_options variant %>
					</span>
					<% if variant_price variant %>
						<span class="price diff"><%= variant_price variant %></span>
					<% end %>
				<% end %>
			</li>
		<% end%>
	</ul>
</div>

